.leaderboard-container {
    display: flex;
    justify-content: center;
    max-height: 100vh;
    max-width: 100vw;
    /* align-items: center; */
}

th {
    padding: 0 15px;
    width: min-content;
}

td {
    padding: 5px 15px;
    /* margin-bottom: 5px; */
    width: min-content;
}