body {
    background: #654ea3;
    background: linear-gradient(to right, #e96443, #904e95);
    min-height: 100vh;
    overflow-x:hidden;
}
.profile-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.profile-header{
    height: 40vh;
    width:60vw;
    margin: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}