body {
    min-height: 100vh;
    overflow-x:hidden;
}
.profile-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin:2rem;
}
.profile-header{
    display: flex;
    flex-direction: column;
    margin: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    align-items: center;
    /* justify-content: center; */
}
.profile-header-extra{
    display:flex;
    flex-flow: wrap;
    justify-content: space-evenly;

}
.profile-photo-container{
    max-width:200px;
    max-height: auto;
}
.profile-header-views, .profile-header-followers {
    display: flex;
    flex-direction: column;
    /* justify-content:center; */
    align-items: center;
    margin: 5px;
}
.profile-links{
    display:flex;
    justify-content: space-around;
    margin-top: 10px;
}
.fa-brands{
    font-size: 2rem;
}
.fa-instagram{
    color:rgb(238, 111, 132);
}
.profile-editables{
    display: flex;
    justify-content: space-between;
}