.column {
    flex-flow: row;
    justify-content: space-between;
    align-items: flex-start;
    
}

/* .column img {
    max-height: 300px;
    margin: 5px;
    border-radius: 10px;
    max-width:100%;
} */
/* .col-items {
    max-height: 300px;
    margin: 5px;
    border-radius: 10px;
    max-width: 100%;
} */